.button {
  display: block;
  width: 100%;
  margin: 25px 0;
  padding: 0.5em;

  border: none;
  outline: none;

  background-color: $primary;

  color: $true-white;
  font-family: $font-family;
  font-size: $font-size--base;
  letter-spacing: 1px;
}


select,
input,
label,
option {
  font-size: $font-size--base;
}

select {
  display: block;
  height: 2em;
  width: 100%;
  margin-bottom: 10px;
  padding: 5px;

  background-color: transparent;
  border: 1px solid $primary;
  border-radius: 0;
  -webkit-appearance: none;
}

input[type='radio'] {
  display: inline-block;
}

input[type='number'] {
  display: inline;
  width: 25px;

  background-color: transparent;
}

label[for='quantity'] {
  display: block;
  height: 2em;
  margin-bottom: 25px;
  padding: 0 5px;

  border: 1px solid $primary;

  background-color: transparent;

  line-height: 2em;
  text-align: center;
}

.radio-group {
  display: block;
  display: flex;
  height: 2em;
  width: 100%;
  margin-bottom: 25px;

  border: 1px solid $primary;

  justify-content: space-between;
  flex-direction: row;
  label {
    width: 100%;
    padding: 0 8px;

    line-height: 2em;
  }
  label[for='black'] {
    background-color: $primary;

    color: $true-white;
  }
  label[for='beige'] {
    background-color: $accent;

    color: $primary;
  }
}
