.button {
  display: block;
  width: 100%;
  margin: 25px 0;
  padding: 0.5em;

  border: none;

  background-color: $primary;

  color: $true-white;
  font-family: $font-family;
  font-size: $font-size--base;
  letter-spacing: 1px;

  cursor: pointer;
}

select,
input,
label,
option {
  font-size: $font-size--base;
}

/* styles for color picker */
input[type='radio'] {
  position: absolute;

  opacity: 0 !important;
  &#black:checked + label {
    background-image: url('assets/icon__check--white.svg');
    background-repeat: no-repeat;
    background-position: 85% center;
    background-size: 15px;
  }
  &#beige:checked + label {
    background-image: url('assets/icon__check--black.svg');
    background-repeat: no-repeat;
    background-position: 85% center;
    background-size: 15px;
  }
}
.radio-group {
  display: block;
  display: flex;
  position: relative;
  height: 2em;
  width: 100%;
  margin-bottom: 25px;

  border: 1px solid $primary;

  justify-content: space-between;
  flex-direction: row;
  label {
    width: 100%;
    padding: 0 15px;

    line-height: 2em;
  }
  label[for='black'] {
    background-color: $primary;

    color: $true-white;

    cursor: pointer;
  }
  label[for='beige'] {
    background-color: $accent;

    color: $primary;

    cursor: pointer;
  }
}

.control-icon {
  position: absolute;
  padding: 0 15px;

  cursor: pointer;

  transition: all 0.3s ease;
  &:hover {
    background-color: $true-white;
  }
  &.minus {
    left: 1px;

    border-right: 1px solid $primary;
  }
  &.plus {
    right: 1px;

    border-left: 1px solid $primary;
  }
}

/* styles for quantity */
input[type='number'] {
  display: inline;
  width: 35px;

  border: none;
  outline: none;

  background-color: transparent;

  text-align: center;
}

/* this is hiding the browswer arrow styles in the number input field */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  margin: 0;

  -webkit-appearance: none;
}

label[for='quantity'] {
  display: block;
  height: 2em;
  margin-bottom: 25px;
  padding: 0 5px;

  border: 1px solid $primary;

  background-color: transparent;

  line-height: 2em;
  text-align: center;
}

/* styles for size dropdown */
select {
  display: block;
  position: relative;
  height: 2em;
  width: 100%;
  margin-bottom: 10px;
  padding: 5px 15px;

  border: 1px solid $primary;
  border-radius: 0;

  background-color: transparent;
  background-image: url('assets/icon__arrow.svg');
  background-repeat: no-repeat;
  background-position: 96% center;
  background-size: 10px;

  font-family: $font-family;
  letter-spacing: 1px;

  cursor: pointer;

  -webkit-appearance: none;
}





