.product-container {
	width: 100%;
	background-color: $grey--light;
	position: relative;
	height: 100%;
}

.product__description {
	position: fixed;
	width: 25%;
	left: 7%;
	top: 30%;
	&.not-sticky {
		position: absolute;
		// bottom: 0;
		// transform: translateY(-70%);
		// top: unset;
	}
}
.product__options {
	position: fixed;
	width: 25%;
	right: 7%;
	top: 30%;
	&.not-sticky {
		position: absolute;
		// bottom: 0;
		// transform: translateY(-70%);
		// top: unset;
	}
}

.product__images {
	display: block;
	text-align: center;
}

.product-image {
	height: 100vh;
	display: block;
	margin: 0 auto;
}