.product-container {
  position: relative;
  height: 100%;
  width: 100%;

  background-color: $grey--light;
}

.product__description {
  position: fixed;
  top: 30vh;
  left: 7%;
  width: 25%;
  height: 50vh;
  &.not-sticky {
    position: absolute;
    top: unset;
    bottom: 20vh;
  }
}
.product__options {
  position: fixed;
  top: 30vh;
  right: 7%;
  width: 25%;
  height: 50vh;
  &.not-sticky {
    position: absolute;
    top: unset;
    bottom: 20vh;
  }
}

.product__images {
  display: block;

  text-align: center;
}

.product-image {
  display: block;
  height: 100vh;
  margin: 0 auto;
}
