html.disable-scroll {
  overflow-y: hidden;
}

.product-container {
  position: relative;
  height: 100%;
  width: 100%;

  background-color: $grey--light;
}

.product__description {
  position: fixed;
  top: 30vh;
  left: 7%;
  height: 50vh;
  width: 25%;
  max-width: 375px;
  &.not-sticky {
    position: absolute;
    top: unset;
    bottom: 20vh;
  }
}
.product__options {
  position: fixed;
  top: 30vh;
  right: 7%;
  height: 50vh;
  width: 25%;
  max-width: 375px;
  &.not-sticky {
    position: absolute;
    top: unset;
    bottom: 20vh;
  }
}

.product__images {
  display: block;
  width: 100%;
}

.product-image {
  display: block;
  height: 100vh;
  margin: 0 auto;
  cursor: url('assets/icon__zoom--in.svg'), pointer;
}

.lightbox {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  min-height: 100vh;

  background-color: $grey--light;

  text-align: center;

  cursor: url('assets/icon__zoom--out.svg'), pointer;
  overflow-y: scroll;
  z-index: 20;
  &.active {
    display: block;
  }
}
