body {
  background-color: $true-white;

  color: $font-color;
  font-family: $font-family;
  font-size: $font-size--base;
  letter-spacing: 1px;
}

h1 {
  margin-bottom: 2em;

  font-size: 120%;
}

h2 {
  font-size: 110%;
  line-height: 2em;
}

p {
  margin-bottom: 1em;

  font-size: 100%;
  line-height: 1.5em;
}

a {
  color: $font-color;
  text-decoration: underline;

  transition: all 0.3s ease;
  &:hover {
    color: $hover;
  }
}

.product__price,
.product__title {
  font-size: 0.8em;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.help-text {
  display: block;

  font-size: 0.65em;
}
