/* ==========================================================================
   Main Sass source file
   ========================================================================== */
/**
 * This is the main Sass file that will compile to styles.css in the root directory
 */
/* Setting Font Face
   ========================================================================== */
@font-face {
  font-family: 'Graphik';
  src: url("assets/Graphik-Medium.otf") format("otf"), url("assets/Graphik-Medium.woff") format("woff"), url("assets/Graphik-Medium.ttf") format("truetype"); }
/* Global variables
   ========================================================================== */
/* Import styles
   ========================================================================== */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background-color: #FFFFFF;
  color: #000000;
  font-family: "Graphik", Arial, sans-serif;
  font-size: 17px;
  letter-spacing: 1px; }

h1 {
  margin-bottom: 2em;
  font-size: 120%; }

h2 {
  font-size: 110%;
  line-height: 2em; }

p {
  margin-bottom: 1em;
  font-size: 100%;
  line-height: 1.5em; }

a {
  color: #000000;
  text-decoration: underline; }

.product__price,
.product__title {
  font-size: 0.8em;
  letter-spacing: 5px;
  text-transform: uppercase; }

.help-text {
  display: block;
  font-size: 0.65em; }

.product-container {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: #f8f8f9; }

.product__description {
  position: fixed;
  top: 30vh;
  left: 7%;
  width: 25%; }
  .product__description.not-sticky {
    position: absolute;
    top: unset;
    bottom: 40vh; }

.product__options {
  position: fixed;
  top: 30vh;
  right: 7%;
  width: 25%; }
  .product__options.not-sticky {
    position: absolute;
    top: unset;
    bottom: 40vh; }

.product__images {
  display: block;
  text-align: center; }

.product-image {
  display: block;
  height: 100vh;
  margin: 0 auto; }

.related-products-container {
  padding: 0 75px; }

.row {
  display: flex;
  margin: 50px 0;
  justify-content: space-around;
  flex-direction: row;
  align-items: center; }

.related-product.landscape {
  width: 60%;
  max-width: 550px;
  padding: 0 80px; }
.related-product.portrait {
  width: 40%;
  padding: 0 80px; }

.related-product__image {
  width: 100%;
  margin-bottom: 25px; }

.button {
  display: block;
  width: 100%;
  margin: 25px 0;
  padding: 0.5em;
  border: none;
  outline: none;
  background-color: #000000;
  color: #FFFFFF;
  font-family: "Graphik", Arial, sans-serif;
  font-size: 17px;
  letter-spacing: 1px; }

select,
input,
label,
option {
  font-size: 17px; }

select {
  display: block;
  height: 2em;
  width: 100%;
  margin-bottom: 10px;
  padding: 5px;
  background-color: transparent;
  border: 1px solid #000000;
  border-radius: 0;
  -webkit-appearance: none; }

input[type='radio'] {
  display: inline-block; }

input[type='number'] {
  display: inline;
  width: 25px;
  background-color: transparent; }

label[for='quantity'] {
  display: block;
  height: 2em;
  margin-bottom: 25px;
  padding: 0 5px;
  border: 1px solid #000000;
  background-color: transparent;
  line-height: 2em;
  text-align: center; }

.radio-group {
  display: block;
  display: flex;
  height: 2em;
  width: 100%;
  margin-bottom: 25px;
  border: 1px solid #000000;
  justify-content: space-between;
  flex-direction: row; }
  .radio-group label {
    width: 100%;
    padding: 0 8px;
    line-height: 2em; }
  .radio-group label[for='black'] {
    background-color: #000000;
    color: #FFFFFF; }
  .radio-group label[for='beige'] {
    background-color: #f2d9a5;
    color: #000000; }

/*# sourceMappingURL=styles.css.map */
